.popup__title_content-heading {
  margin: 10px 0 0;
  padding: 0;
  max-width: 60%;
  color:rgba(255, 255, 255, .9);
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
}