.element__like {
  width: 21px;
  height: 18px;
  border: none;
  background-image: url(../../../images/Like.svg);
  background-color: #fff;
  cursor: pointer;
  outline: none;
}

.element__like:hover {
  opacity: 0.6;
  transition: 1s;
}