.popup__submit {
  width: 358px;
  height: 50px;
  margin: 48px auto 36px;
  padding: 0;
  background-color: #000;
  border: none;
  border-radius: 2px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #fff;
  cursor: pointer;
  outline: none;
}

.popup__submit:not(.popup__submit_inactive):hover {
  background: rgba(0, 0, 0, 0.8);
  transition: 1s;
}

@media screen and (min-width: 425px) and (max-width: 509px) {
  .popup__submit {
    max-width: 232px;
    height: 40px;
    margin: 38px auto 26px;
  }
}

@media screen and (min-width: 320px) and (max-width: 424px) {
  .popup__submit {
    max-width: 200px;
    font-size: 14px;
    height: 35px;
    line-height: 17px;
    margin: 18px auto 16px;
  }
}
